.container{
    display: flex;
    justify-content: center;
    padding: 2px;
    background: #fff;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    
}
.container,h3{
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
 .container,button {
    background-color: #04AA6D;
    backdrop-filter: blur(6px);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    -webkit-backdrop-filter: blur(6px);
}
.button :hover{
    color:#04AA6D ;
    opacity: 0.8;
    background-color: white;

}

